:root {
  --primary: #2c3394;
  --white: #fff;
  --secondary: #eeeef1;
  --danger: #df4912;
  --success: #58a55c;
  --success-light: #46ac4c;
  --black: #1c1818;
  --grey: #66696b;
  --notice: #f63b3b;
  --fontBlack: #343536;
  --border-color: #cfd2d9;
  --background-color: #eeeef1;
  --dashedColor: #c4c5c7;
  --grey-white: #f3f3ff;
  --border-blue: #a8a8cd;
  --success-font-green: #2d9b33;
  --success-green: #dff6dd;
  --button-background-color: #dddde1;
  --table-border-color: #e6e9f0;
  --purple-300:#bbb1ee;
  --blue-300: #abc9fe;
  --orange-300: #fa8969;
  --teal-400: #524699;
  --white: #ffffff;
  --purple-500: #a855f7;
  --darkblue-300: #26d6b9;
  --config-background-color: rgba(218, 220, 224, 0.5);
  --mat-form-field-container-height: 35px;
  --mat-form-field-container-padding: 0 16px;
  --mat-form-field-label-text-size: 12px;
  --mat-form-field-label-text-size-md: 14px;
  --mat-form-field-label-header-text-size: 16px;
  --mat-form-field-label-text-weight: 300;
  --mat-form-field-label-text-color: rgba(0, 0, 0, 0.6);
}
