.table-wrapper {
  ::ng-deep {
    app-common-table {
      .progress-container {
        width: 200px;
        background-color: #e9ecef;
        border-radius: 2px;
        padding: 3px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);

        .progress-bar {
          // height: 24px;
          background: linear-gradient(90deg, #28a745 0%, #20c997 100%);
          border-radius: 20px;
          text-align: center;
          color: white;
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
          transition: width 0.6s ease;
          box-shadow: 0 2px 4px rgba(40, 167, 69, 0.3);
          position: relative;
          overflow: hidden;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
            animation: shimmer 2s infinite;
          }
        }
      }


        .action-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    button {
      border: 1px solid var(--border-color);
      border-radius: 2px;
      padding: 3px 10px;
      font-size: var(--mat-form-field-label-text-size);
      cursor: pointer;
      color: var(--fontBlack);
      font-weight: 500;
    }
  }
    }
  }
}
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    button {
      border: 1px solid var(--border-color);
      border-radius: 2px;
      padding: 3px 10px;
      font-size: var(--mat-form-field-label-text-size);
      cursor: pointer;
      color: var(--fontBlack);
      font-weight: 500;
    }
  }
