.student-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f5f7fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.student-form {
  background: #fff;
  // padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    padding: 8px 15px;
    @media screen and (max-width: 768px) {
      padding: 5px 15px;
    }
    .header-title {
      font-size: 20px;
      font-weight: 500;
      color: #222;
      @media screen and (max-width: 768px) {
        font-size: 18px;
        // font-weight: 600;
      }
      @media screen and (max-width: 567px) {
        font-size: 16px;
      }
    }
    .cls-btn {
      background: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #888;
      transition: color 0.3s ease;

      &:hover {
        color: #555;
      }
    }
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 2rem;
    padding: 0 15px;
    @media screen and (max-width: 567px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .form-group {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.4rem;
        font-weight: 500;
        color: var(--fontBlack);
        @media screen and (max-width: 768px) {
          font-size: 12px;
          font-weight: 600;
        }
      }

      input {
        padding: 0.6rem 0.8rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        transition: all 0.3s ease;
        @media screen and (max-width: 567px) {
          padding: 0.2rem 0.8rem;
          font-size: 12px;
        }

        &:focus {
          border-color: #007bff;
          outline: none;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
        }
      }
    }

    .full-width {
      grid-column: span 2;
    }
  }

  .form-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 15px;
    .submit {
      background: linear-gradient(135deg, #4facfe 100%);
    }

    button {
      width: 100%;
      padding: 0.7rem 0;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.3s ease;
      @media screen and (max-width: 567px) {
        padding: 0.2rem 0;
        font-size: 12px;
      }
    }

    .btn-primary {
      background-color: #007bff;
      color: white;

      &:hover {
        background-color: #0056b3;
      }
    }

    .btn-secondary {
      background-color: #6c757d;
      color: white;

      &:hover {
        background-color: #5a6268;
      }
    }
  }

  // // Responsive: On small screens, revert to 1 column
  // @media (max-width: 768px) {
  //   .form-grid {
  //     grid-template-rows: 1fr;
  //   }

  //   .full-width {
  //     grid-row: span 1;
  //   }
  // }
}

::ng-deep {
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: var(--mat-dialog-container-max-width, 700px);
  }
  .dialog-class {
    .mat-mdc-dialog-surface.mdc-dialog__surface {
      border-radius: 10px;
    }
    @media (max-width: 768px) {
      .mat-mdc-dialog-surface.mdc-dialog__surface {
      }
    }
  }

  @media screen and (max-width: 567px) {
    .cdk-overlay-pane.mat-mdc-dialog-panel {
      // max-width: 450px;
      max-width: 420px;
      width: 100%;
    }
  }
  @media screen and (max-width: 487px) {
    .cdk-overlay-pane.mat-mdc-dialog-panel {
      // max-width: 335px;
      max-width: 290px;
    }
  }
}
// 567
