<!-- 
<div class="login-container">
  <div class="login-header"><p>login</p></div>
  <div class="login-form">
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" required />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" formControlName="password" required type="password" />
      </mat-form-field>
      <button type="submit">Login</button>
    </form>
  </div>
</div> -->
