<div class="login-section">
  <div class="login-form">
    <form (ngSubmit)="onLogin()">
      <p class="login-name">Sign In</p>

      <div class="login-email">
        <input [(ngModel)]="email" name="email" placeholder="Email" />
      </div>

      <div class="login-email">
        <input [(ngModel)]="password" name="password" placeholder="Password" type="password" />
      </div>

      <div class="forget-password-remember-me">
        <label>
          <input type="checkbox" name="rememberMe" />
          Remember Me
        </label>
        <a href="#" class="forget-password">Forget Password</a>
      </div>

      <div class="btn-log">
        <button class="login-btn" type="submit">Log in</button>
      </div>
      <div class="register">
        <span class="or">or</span>
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div>
</div>
