.dialog-add-payment-container {
  ::ng-deep {
    .mdc-text-field--outlined .mat-mdc-form-field-infix,
    .mdc-text-field--no-label .mat-mdc-form-field-infix {
      padding-left: 10px;
    }
  }
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .dialog-add-payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    // background-color: var(--background-color);
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    .dialog-add-payment-title {
      font-size: 20px;
      font-weight: 500;
      color: #222;
      @media screen and (max-width: 768px) {
        font-size: 18px;
        // font-weight: 600;
      }
      @media screen and (max-width: 567px) {
        font-size: 16px;
      }
    }
    .dialog-add-payment-close {
      background: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #888;
      transition: color 0.3s ease;
      &:hover {
        color: #555;
      }
    }
  }
  .dialog-add-payment-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--fontBlack);
    @media screen and (max-width: 567px) {
      font-size: 12px;
    }
  }
  .btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 20px 20px 20px;
    button {
      padding: 8px 16px;
      font-size: 14px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      &:first-child {
        background-color: var(--grey);
        color: var(--white);
      }
      &:last-child {
        background-color: var(--button-background-color);
        color: var(--fontBlack);
      }
    }
  }
}

::ng-deep{
  .mat-mdc-dialog-container .mat-mdc-dialog-content{
    padding: 0px 20px;
  }
}